.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    font-family: 'Inter', sans-serif;
    padding: 9%;
    margin: 0;
}

p{
    margin: 0;
    color: #a7a7a7;
    font-size: 15px;
}
.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	width: 100%;
    align-items: center;
	margin: 0;
}

nav{
    display: flex;
    justify-content: end;
}

nav li {
	display: inline;
	margin: 0;
    padding-left: 16px;
}

nav a {
	text-transform: uppercase;
	color: #a7a7a7;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
    padding-inline-start: 10px;
}

.box1{
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    padding-bottom: 5%;
    height: 60%;
    gap: 5%;
}

.principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%
}

.titulo-pincipal {
    width: 50%;
}

h1 {
    padding: 0;
    margin: 0;
    font-weight: 800;
    font-size: 50px;
    line-height: 95%;
}
.imagem-principal {
    width: 100%;
    padding-bottom: 3%;
    object-fit: contain;
}

.new-middle{
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    padding: 10px;
    font-size: 14px;
    color: white;
    background-color: hsl(5, 85%, 63%);
    width: 55%;
    letter-spacing: 3px;
    font-weight: 700;
    border: hidden;
}

.right-card{
    border: 1px solid rebeccapurple;
    padding: 20px;
    background-color: hsl(240, 100%, 5%)
}

h2{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: hsl(35, 77%, 62%);
    font-size: 30px;
}

h3 {
    color: white;
}

.box2{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.news{
    display: flex;
    justify-content:space-between;
    width: 33%;
    gap: 5%
    
}

.thumbnail{
    height: 120px;
    object-fit: contain;
}

.description{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
}

.num-new{
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 1px;
    color: #c9c9c9;
}
.titulo-new{
    color: hsl(240, 100%, 5%);
    font-size: 18px;
    font-weight: 700;
    padding: 5% 0 5% 0;
}